EMAIL_HOST_USER = "[EMAIL_ADDRESS]"
EMAIL_HOST_PASSWORD = ""
DEFAULT_FROM_EMAIL = "[EMAIL_ADDRESS]"

STRIPE_PUBLISHABLE_KEY = "stripe-publishable-key"
STRIPE_SECRET_KEY = "stripe-secret-key"
STRIPE_WEBHOOK_SECRET = "stripe-webhook-secret"

FRONTEND_URL = "frontend-url"

ZOOM_CLIENT_ID = "JHl3SzqtQRO2rEMrcnYtxQ"
ZOOM_CLIENT_SECRET = "R5U9hDkpYgHmMqiQkGJ4UDDdHCtJ2T6i"
ZOOM_SECRET_TOKEN = "Z6pm_bIpT_Kaum3VvphN_w"
ZOOM_REDIRECT_URI = "http://localhost:8000/api/v1/integrations/zoom/callback/"
BACKEND_URL = "http://localhost:8000"

DATABASE_TYPE=postgres
SQLITE_DB_NAME=db.sqlite3

# PostgreSQL settings (used when DATABASE_TYPE=postgres. Use HOST=db inside Docker)
POSTGRES_DB=teamplayers_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis Settings
REDIS_URL=redis://127.0.0.1:6379/0

# Certbot / SSL Settings
DOMAIN_NAME=
CERTBOT_EMAIL=

# OpenAI Settings
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1

